body{
    margin: 5px;
    background-color: #d0b796;
    overflow: hidden;
}
#back{
     border: 2px solid #72c8b4;
     display: flex;
     background-color: #72c8b4;
     
}
#back img{
    width: 23px;
    margin: 11px;
}
#back p a{
    font-size: 17px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}
#back p a:hover{
    color: white;
}
#m_box{
    /* border: 1px solid black; */
    padding: 13vw;
    display: grid;
    /* flex-direction: column; */
    /* align-items: center; */
    grid-template-columns: repeat(4,18vw);
    margin: 10px;
    background-color: #b0f2f2;
    font-weight: bolder;
}
#center{
    text-align: center;
    font-size: 1.4vw;
    font-weight: bolder;
}
.category p a{
    padding: 10px;
    color: black;
    border: 1px solid goldenrod;
    background-color: goldenrod;
    text-decoration: none;    
}
.category p a:hover{
    background-color: yellow;
}