body{
    background-color: black;
    /* background-image:url("image/delivery.png") ; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}
#logo{
    margin: 45px;
     position: relative;
     left: 42%;
     top: 10%;
}
#logo img{
    width: 96px;
    background-repeat: no-repeat;
}

#m_box{
  width: 420px;
  height: 310px;
  padding: 20px;
  margin: 7% 32%;
  background-color: #b3addb;
  border: 4px solid white;
  border-radius: 17px;
  display: flex; 
  flex-direction: column;
  align-items:center;
}
.center{
    color: black;
    font-weight: bolder;
    font-size: 23px;
    
}
#forgot{
    margin: 1px 0px 15px 0px;
}
.btn{
    width:38%;
    border: 1px solid white;
    border-radius: 11px;
    font-weight: bold;
}
input{
    width: 43%;
    height: 20px;
    margin: 9px;
    border: 1px solid white;
    border-radius: 11px;
}